#my-qr-reader img[alt="Info icon"] {
    display: none;
}
 
#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: #1d9bf0;
}

#my-qr-reader__scan_region{
    display: flex;
    justify-content: center;
    padding: 25px 25px 0 25px;
}

#html5-qrcode-button-camera-start, #html5-qrcode-button-camera-stop{
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #008000ad;
    transition: 0.3s background-color;
}

@tailwind base;
@tailwind components;
@tailwind utilities;